.producto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    &__imagen{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 20px;
        padding: 5px;
    }
}