/*General*/
.main {
  background-color: #333c87;
  color: #eee; }

.titulos {
  text-decoration: underline;
  margin-left: 30px;
  margin-bottom: 20px; }

.subtitulos {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ecec7d; }

.iframe {
  margin-bottom: 15px;
  margin-left: 40px; }

.imageni {
  border-radius: 15px;
  height: 250px;
  width: 250px;
  transition: 1s; }

.imageni:hover {
  height: 400px;
  width: 400px; }

/*Pagina Productos*/
.producto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px; }
  .producto__imagen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    transition: 1s; }
  .producto__imagen:hover {
    height: 250px;
    width: 250px; }
  .producto__texto {
    font-size: 20px; }

.fichaimagen {
  margin-bottom: 15px;
  border-radius: 15px;
  height: 250px;
  width: 450px;
  display: block; }
