/*General*/
.main {
  background-color: #333c87;
  color: #eee; }

.titulos {
  text-decoration: underline;
  margin-left: 30px;
  margin-bottom: 20px; }

.subtitulos {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ecec7d; }

.iframe {
  margin-bottom: 15px;
  margin-left: 40px; }

/*Pagina Productos*/
.producto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px; }
  .producto__imagen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    padding: 5px; }
